{% extends 'BLMApp/base.html' %}
{% load static %}
{% block content %}
	<style>
		body {
			font-family: Arial, sans-serif;
			background-color: #f9f9f9;
		}
		
		#navBar #navLink #pay-emi-online {
    color: #183153;
    background-color: #DEC9F5;
    border-bottom: 3px solid #6F00A6; 
    font-size: 14px;
    box-shadow: 3px 3px 3px #797979;
}

#navBar #navLink #pay-emi-online:hover {
    background-color: #ead7ff;
}
		.container {
			margin: 50px auto;
			max-width: 600px;
			background-color: #fff;
			padding: 50px;
			box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
			text-align: center;
		}
		
		.container h1 {
			font-size: 36px;
			color: #07D360;
			margin-bottom: 20px;
			font-weight: bold;
		}
		
		.container p {
			font-size: 18px;
			color: #333;
			margin-bottom: 30px;
			line-height: 1.5;
		}
		
		.container a {
			background-color: #07D360;
			color: #fff;
			padding: 10px 20px;
			border-radius: 5px;
			text-decoration: none;
			font-weight: bold;
			transition: all 0.3s ease;
		}
		
		.container a:hover {
			background-color: #333;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>EMI Paid Successfully</h1>
        <i class="fa-solid fa-circle-check" style="font-size: 100px; color: #00d64b;"></i>
		<p><br>EMI for your loan was paid successfully</p>
			<p>Make sure that all your KYC informations are correct</p>
        <a href="{% url 'payEmi' %}">Return to payment page</a>        
	</div>
</body>
</html>
{% endblock content %}